.DEVNOTE::before {
    content: "Developer Note:";
    font-weight: bolder;
}

.DEVNOTE {
    margin-top: 1px;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #600;
    background-image: url("img/overlay_bg_1_33pr.png");
}


main .locationitem {
    display: inline-block;
    width: max-content;
    padding: 10px;
    background-color: #009be5;
}