/*********************************************************************/
/*                                                                   */
/* Stylesheet for SIDB                                               */
/* CC-BY-SA exec alias Christoph Ziegler                             */
/*                                                                   */
/*********************************************************************/

body {
    background-color: #eee;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color:black;
}
body>header {
    display: block;
    position: fixed;
    width: 100%;
    padding-left: 30px;
    background-color: #009be5;

}

body>header .sessioncountdown {
    position: fixed;
    top: 15px;
    right: 15px;
}
/* ---                                                                    NAVIGATION */
nav {
    width: 220px;
}

nav.nav_main {
    width: 218px;
    height: 100%;
    display: block;
    position: fixed;
    top : 80px;
    padding-top: 20px;
}
/*
nav.nav_asset {
    width: 195px;
    display: block;
    position: fixed;
    top : 397px;
    background-color: black;
    margin: 0px;
    /*padding: 0px;
}
*/
ul.nav_vertical_left {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


ul.nav_vertical_left li {
    background-color: #009be5;
    padding:10px;
    margin: 6px;
    border-radius: 5px;
}

ul.nav_vertical_left li.active {
    background-color: #00bbf5;
    margin-right: 0px;
    margin-left: 20px;
    margin-top:12px;
    margin-bottom:12px;
    border-radius: 5px 0px 0px 5px;
    width: calc(100% - 31px);
}



/* ---                                                                    MAIN */
main {
    margin-top: 101px;
    margin-left: 227px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    min-height: 350px;
    background-color:white;
    color: black;
    box-shadow: 0px 0px 5px 5px #ccc;
}
main table {
    width: 100%;
}

main table tr th {
    background-color: #999;
    padding: 7px;
}

main table tr td {
    padding: 7px;
}

main table tr:first-child td:first-child {
    border-radius: 3px 0px 0px 0px;
}

main table tr:first-child th:first-child {
    border-radius: 3px 0px 0px 0px;
}

main table tr:first-child td:last-child {
    border-radius: 0px 3px 0px 0px;
}

main table tr:first-child th:last-child {
    border-radius: 0px 3px 0px 0px;
}

main table tr:last-child td:first-child {
    border-radius: 0px 0px 0px 3px;
}

main table tr:last-child th:first-child {
    border-radius: 0px 0px 0px 3px;
}

main table tr:last-child td:last-child {
    border-radius: 0px 0px 3px 0px;
}

main table tr:last-child th:last-child {
    border-radius: 0px 0px 3px 0px;
}

main table tr:nth-child(odd) td {
    background-color: #ddd;
}

main table tr:nth-child(even) td {
    background-color: #eee;
}

main table tr td input {
    width: calc(100% - 21px);
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}

main table tr td input[type="submit"] {
    width: calc(100%);
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}

main table tr td input[disabled="disabled"] {
    background-color: lightgray;
}

main table tr td select {
    width: 100%;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}

main table tr td progress {
    width: calc(100% - 5px);
    height: 10px;
    padding: 1px;
    background-color: white;
}

main table tr td textarea {
    width: calc(100% - 21px);
    height: 50px;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}

main table.hidden_table tr td {
    background-color: transparent;
}

main table.hidden_table tr th {
    background-color: transparent;
}

.text_icon_button {
    font-size: 30px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #009be5;
    background-color: #00bbf5;
}

.text_icon_button.active {
    background-color: red;
}

.text_icon_button.inactive {
    background-color: green;
}



/* ---                                                                    FLEX*/
.flex-container {
    display: flex;
    height: auto;

}

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    padding: 0px;
}
