/*********************************************************************/
/*                                                                   */
/* Stylesheet for SIDB                                               */
/* CC-BY-SA exec alias Christoph Ziegler                             */
/*                                                                   */
/*********************************************************************/


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    padding: 3px;
    margin: 0px 0px 0px 0px;

}

header > h1 {
    margin-top: 0px;
}
nav {
    margin-top: 5px;
}

.nav_main ul {
    list-style: none;
    margin:0px;
    padding: 0px;
}

.nav_main ul li {
    padding: 15px;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 5px;
}

.nav_main ul li.active {
    font-weight: bolder;
    margin-left: 3px;
    margin-right: 3px;
}



