/*********************************************************************/
/*                                                                   */
/* Stylesheet for SIDB                                               */
/* CC-BY-SA exec alias Christoph Ziegler                             */
/*                                                                   */
/*********************************************************************/


body {
    background-color: #eee;
    color: white;
}

#cookieinfo {
    background-color: tomato;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color:black;
}

body>header {
    background-color: #009be5;
}

ul.nav_vertical_left li {
    background-color: #009be5;
}

ul.nav_vertical_left li.active {
    background-color: #00bbf5;
}

/* ---                                                                    MAIN */
main {
    background-color:white;
    color: black;
    box-shadow: 0px 0px 5px 5px #ccc;
}

main table tr th {
    background-color: #999;
}
main table tr:nth-child(odd) td {
    background-color: #ddd;
}

main table tr:nth-child(even) td {
    background-color: #eee;
}

main table tr td input {
    background-color: white;
}

main table tr td input[type="submit"] {
    background-color: white;
}

main table tr td input[disabled="disabled"] {
    background-color: lightgray;
}

main table tr td select {
    background-color: white;
}

main table tr td progress {
    background-color: white;
}

main table tr td textarea {
    background-color: white;
}

main .assetcard {
    background-color: #009be5;
    border: 1px solid #ccc;
}

.text_icon_button {
    border: 1px solid #009be5;
    background-color: #00bbf5;
}

.text_icon_button.selected {
    border: 1px solid #009be5;
    background-color: #ffffff;
}

.text_icon_button.active {
    background-color: red;
}

.text_icon_button.inactive {
    background-color: green;
}
footer {
    background-color: rgba(0,0,0,0.5);
}

footer a {
    color: white;
}

footer a:visited {
    color: white;
}
