/*********************************************************************/
/*                                                                   */
/* Stylesheet for SIDB                                               */
/* CC-BY-SA exec alias Christoph Ziegler                             */
/*                                                                   */
/*********************************************************************/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

#cookieinfo {
    display: block;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 1000000;
}

body>header {
    display: block;
    position: fixed;
    width: 100%;
    padding-left: 30px;

}

body>header .sessioncountdown {
    position: fixed;
    top: 15px;
    right: 15px;
}
/* ---                                                                    NAVIGATION */
nav {
    width: 220px;
}

nav.nav_main {
    width: 218px;
    height: 100%;
    display: block;
    position: fixed;
    top : 80px;
    padding-top: 20px;
}
/*
nav.nav_asset {
    width: 195px;
    display: block;
    position: fixed;
    top : 397px;
    background-color: black;
    margin: 0px;
    /*padding: 0px;
}
*/
ul.nav_vertical_left {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


ul.nav_vertical_left li {
    padding:10px;
    margin: 6px;
    border-radius: 5px;
    transition: margin 0.5s linear;
}

ul.nav_vertical_left li.active {
    margin-right: 0px;
    margin-left: 20px;
    margin-top:12px;
    margin-bottom:12px;
    border-radius: 5px 0px 0px 5px;
    width: calc(100% - 31px);
}



/* ---                                                                    MAIN */
main {
    margin-top: 101px;
    margin-left: 227px;
    margin-right: 20px;
    margin-bottom: 60px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    min-height: 350px;
    box-shadow: 0px 0px 5px 5px #ccc;
}
main table {
    width: 100%;
}

main table tr th {
    padding: 7px;
}

main table tr td {
    padding: 7px;
}

main table tr:first-child td:first-child {
    border-radius: 3px 0px 0px 0px;
}

main table tr:first-child th:first-child {
    border-radius: 3px 0px 0px 0px;
}

main table tr:first-child td:last-child {
    border-radius: 0px 3px 0px 0px;
}

main table tr:first-child th:last-child {
    border-radius: 0px 3px 0px 0px;
}

main table tr:last-child td:first-child {
    border-radius: 0px 0px 0px 3px;
}

main table tr:last-child th:first-child {
    border-radius: 0px 0px 0px 3px;
}

main table tr:last-child td:last-child {
    border-radius: 0px 0px 3px 0px;
}

main table tr:last-child th:last-child {
    border-radius: 0px 0px 3px 0px;
}

main table tr:nth-child(odd) td {
}

main table tr:nth-child(even) td {
}

main table tr td input {
    width: calc(100% - 21px);
    padding: 7px;
    border-radius: 5px;
}

main table tr td input[type="submit"] {
    width: calc(100%);
    padding: 7px;
    border-radius: 5px;
}

main table tr td select {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}

main table tr td progress {
    width: calc(100% - 5px);
    height: 10px;
    padding: 1px;
}

main table tr td textarea {
    width: calc(100% - 21px);
    height: 50px;
    padding: 7px;
    border-radius: 5px;
}

main table.hidden_table tr td {
    background-color: transparent;
}

main table.hidden_table tr th {
    background-color: transparent;
}

main .assetcard {
    display: inline-table;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

main .assetcard .card_header {
    border-bottom: 1px solid darkgray;
}

main .assetcard .card_ownerstate {
    border-top: 1px solid darkgray;
    padding-top: 5px;
    margin-bottom: 0px;
}

.text_icon_button {
    font-size: 30px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
}

.text_icon_button.active {
    transition: background-color 0.25s;
}

.text_icon_button.inactive {
    transition: background-color 0.25s;
}



/* ---                                                                    FLEX*/
.flex-container {
    display: flex;
    height: auto;

}

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}
