<h1>Datenschutz</h1>
<h2>Inhaltsverzeichnis</h2>
<ul>
    <li><a href="#allg">Allgemeines</a></li>
    <li><a href="#verst">Verantwortlich</a></li>
    <li><a href="#verda">Allgemeine Datenverarbeitung</a></li>
    <li><a href="#cookie">Datenverarbeitung via Cookies</a></li>
    <li><a href="#erwda">erweiterte Datenverarbeitung</a></li></ul>
<h2 id="allg">Allgemeines</h2>
<p>Nachfolgend informieren wir Sie über die Erhebung personenbezogener Daten bei der Nutzung unserer Internetseite.</p>
<p>Der Begriff "personenbezogene Daten" meint unter Verweis auf die Definition des Art. 4 Nr. 1 der Verordnung (EU) 2016/679 (nachfolgend bezeichnet als "Datenschutz-Grundverordnung" bzw. kurz "DSGVO") alle Daten, die auf Sie persönlich beziehbar sind. Darunter fallen beispielsweise Name, Adresse, E-Mail-Adresse, Nutzerverhalten. Hinsichtlich weiterer Begrifflichkeiten, insbesondere der Begriffe "Verarbeitung", "Verantwortlicher", "Auftragsverarbeiter" und "Einwilligung", verweisen wir auf die gesetzlichen datenschutzrechtlichen Definitionen des Art. 4 DSGVO.</p>
<p>Wir verarbeiten personenbezogene Daten grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Webseite sowie der von uns angebotenen Inhalte und Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten erfolgt regelmäßig nur dann, wenn Sie uns eine Einwilligung im Sinne des Art. 6 Abs. 1 lit. a) DSGVO erteilt haben oder die Verarbeitung durch gesetzliche Vorschriften, insbesondere durch eine der in Art. 6 Abs. 1 lit. b) bis lit. f) DSGVO genannten Rechtsgrundlagen, gestattet ist.</p>
<p>Ihre personenbezogenen Daten werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus dann erfolgen, wenn dies durch nationale oder europäische Vorschriften, denen wir unterliegen, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt in diesem Fall dann, wenn die in den jeweiligen Vorschriften vorgeschriebene Speicherfrist abgelaufen ist. Letzteres gilt dann nicht, wenn eine weitere Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung erforderlich ist.</p>
<p>Soweit wir für einzelne Funktionen unserer Webseite auf beauftragte Dienstleister zurückgreifen oder Ihre Daten für werbliche Zwecke nutzen möchten, werden wir Sie untenstehend im Detail über die jeweiligen Vorgänge informieren.</p>
<h2 id="verst">Verantwortlich für den Inhalt</h2>
<p>Verantwortlicher im Sinne des Art. 4 Nr. 7 DSGVO, der sonstigen in den Mitgliedstaaten der Europäischen Union geltenden Datenschutzgesetze und anderer Vorschriften ist:</p>
<p>Christoph Ziegler<br>
    Lammstr. 7<br>
    71272 Renningen</p>
    <p>Mail: abuse@c-w-z.de</p>
<h2 id="besre">Rechte des Seitenbesuchers</h2>
<p>Sie haben zu mir, bzgl. Ihrer personenbezogenen Daten folgende Rechte</p>
<ul>
    <li>Recht auf Auskunft</li>
    <li>Recht auf Berichtigung</li>
    <li>Recht auf Löschung</li>
</ul>
<h2 id="verda">Datenverarbeitung</h2>
<p>Wenn Sie diese Seite aufrufen, ohne sich zu registrieren, werden ausschließlich Daten erfasst die Ihr Browser an den Server übermittelt.</p>
<p>Im Detail sind es folgende Informationen:
    <ul>
        <li>IP-Adresse</li>
        <li>Datum und Uhrzeit der Anfrage inkl. Zeitzoneninformationen</li>
        <li>Status der übertragung (HTTP-Status)</li>
        <li>Datenmenge</li>
        <li>Aufrufinformationen (Pfad des Aufruf und GET-Parameter)</li>
        <li>Webbrowserinformationen (Dieser kann Informationen wie Betriebssystem, Sprache, Installierte Plugins beinhalten udn sonstige Informationen enthalten)</li>
    </ul>
</p>
<h2 id="cookie">Datenverarbeitung via Cookies</h2>
<p>Auf diesem Webangebot werden Cookies eingesetzt. Dabei handelt es sich um kleine Textinformationen die sich der Browser speichert. Dabei werdn hier nur Cookies genutzt, die sich selbst nach einer bestimmten Zeit selbst löschen. </p>
<p>Die nutzung dieser Personenbezogenen Daten ist notwendig, um die Funktionalität der Webseite zu gewährleisten. z.B. wird dadurch erreicht, das man sich nicht bei einem Seitenwechsel erneut anmelden muss</p>
<p>Diese Cookies werden ausschließlich von dem von Ihnen aufgerufenen Server, für den angegeben Zweck verwendet.</p>
<p>Um die Nutzung von Fremdserver zu unterbinden, bieten neuartige Browser eine Option an, die Third-Party-Cookies oder Cookies insgesamt ablehnen können.</p>
<h2 id="erwda">erweiterte Datenverarbeitung</h2>
<p>Um das volle Kontingent an Funktionen zu nutzen, ist die erfassung weiterer personenbezogener Daten erforderlich. Diese sind auf ein minimum für das Nutzen beschränkt und handelt auschließlich um einen eindeutigen, nicht realen, Namen und ein persönliches Kennwort um von Fremdbenutzung zu schützen. Allgemein bekannt als Benutzerzugangsdaten. </p>
<p>Auf dem System werden die Benutzeraktionen mit den gemeinsammen Objekten mit aufgezeichnet um eine Nachvollziehbarkeit für das Objekt darzustellen. z.B. ObjektA wurde von [Benutzer] am [Zeitstempel] umbenannt.</p>
