<p><img src="img/add.png" />
<img src="img/edit.png" />
<img src="img/trash.png" />
<img src="img/first.png" />
<img src="img/prev.png" />
<img src="img/next.png" />
<img src="img/last.png" />
<img src="img/lock.png" />
<img src="img/unlock.png" />
</p>

<p>
    <button class="text_icon_button" title="Hinzufügen">+</button>
    <button class="text_icon_button" title="Öffnen">></button>
    <button class="text_icon_button" title="Details anzeigen">D</button>
    <button class="text_icon_button" title="editieren">E</button>
    <button class="text_icon_button" title="Löschen">X</button>
    <button class="text_icon_button active" title="entsperren">L</button>
    <button class="text_icon_button inactive" title="sperren">L</button>
</p>