<h1>Impressum</h1>
<h2>Betreiber</h2>
<p>Privatperson:</p>
<p>Christoph Ziegler<br>
Lammstr. 7<br>
71272 Renningen<br>
</p>
<p>Mail: abuse@c-w-z.de</p>
<p>Inhaltlich verantwortlich i.S.v §55 Abs. 2 RStV: Christoph Ziegler</p>
<p>Diese Seite dient <b>ausschließlich für Testzecke</b> und wird regelmäßig auf nicht konformen Inhalt überpüft. Sollte dennoch uns Inhalte nicht auffallen, bitten wir Sie diese an uns zu melden per Mail an die "abuse@c-w-z.de" und wir werden dies schnellstmöglich von der Seite entfernen.</p>
<p>Wir weisen daraufhin, dass diese Seite, rein zum Betrieb der Seite, Cookies einsetzt.</p>
