
<table>
    <tr>
        <td rowspan="3"><img src="/img/gen_code.php?barcodetext=A0000001&barcode=A0000001&width=320&height=100" /></td>
        <td colspan="2"><b>Gulaschkanone</b></td>
    </tr>
    <tr>
        <th align="left">TYPE:</th>
        <td>OWNED DOC</td>
    </tr>
    <tr>
        <th align="left">OWNER:</th>
        <td>SHACK</td>
    </tr>
</table>
